
# Temporary holds: Lecture

# Notes cache
notes/*/slides_cache/*

# Non-review test files
midterm/exam-inclass/*
midterm/exam-home/*
final/exam-inclass/*
final/exam-home/*

# Problem sets: Assigned
# PS 0
problem-sets/000/data-raw*
# PS 1
problem-sets/001/data-raw*
problem-sets/001/clean-data.R
problem-sets/001/001-questions.qmd
problem-sets/001/ed.scss
# PS 2
problem-sets/002/data-raw*
problem-sets/002/clean-data.R
problem-sets/002/002-questions.qmd
problem-sets/002/ed.scss

# Problem sets: Future
problem-sets/003*
problem-sets/004*

# Misc files
*.DS_Store
*.here
*.Rproj
