/*-- scss:defaults --*/

.ans {
  font-weight: 600;
  color: #e64173 !important;
}

.mono {
  font-family: monospace;
}

.answer {
  background: #f0f0f0;
  padding: 1em;
  margin: .5em;
  border-radius: 10px;
}